*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
!metadata.tsv
!snakemake_wrapper.sh
!dag_rules.svg
rules/common.smk~
rules/diff_abund.smk~
rules/diversity.smk~
rules/qc.smk~
rules/qiime_denoising.smk~
rules/qiime_diversity.smk~
rules/qiime_import.smk~
rules/qiime_import.smk~~
rules/qiime_phylo.smk~
rules/qiime_taxonomy.smk~
rules/trim.smk~
scripts/make_qiime_samples.py~
scripts/qiime2krona.py~
